<div class="causes-area pt-120 pb-90">
    <div class="container">
        <div class="section-title text-center mb-75">
            <h2>What is a Clitoral Reconstructive Surgery ?</h2>
            <div class="icon-img">
                <img src="/assets/img/icon-img/1.png" alt="">
            </div>
            <p>There are many variations of azer duskam of Lorem Ipsum available,</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-causes mb-30">
                    <a href="causes.html"><img src="{{ asset('assets/img/fgm/causes/140705_DESERTFLOWER_0046.jpg') }}" alt="" /></a>
                    <div class="causes-info">
                        <h3><a href="#">Procedure</a></h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.</p>
                        <div class="causes-meta">
                            <div class="doller-target f-left">
                                <h4>Fill Up : <span>$25,000</span></h4>
                            </div>
                            <div class="doller-target f-right">
                                <h4>Target : <span>$30,000</span></h4>
                            </div>
                        </div>
                        <a class="button theme-bg" href="causes.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-causes mb-30">
                    <a href="causes.html"><img src="{{ asset('assets/img/fgm/causes/Figure5.jpg') }}" alt="" /></a>
                    <div class="causes-info">
                        <h3><a href="#">Results</a></h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.</p>
                        <div class="causes-meta">
                            <div class="doller-target f-left">
                                <h4>Fill Up : <span>$33,000</span></h4>
                            </div>
                            <div class="doller-target f-right">
                                <h4>Target : <span>$50,000</span></h4>
                            </div>
                        </div>
                        <a class="button theme-bg" href="causes.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-causes mb-30">
                    <a href="causes.html"><img src="{{ asset('assets/img/causes/3.jpg') }}" alt="" /></a>
                    <div class="causes-info">
                        <h3><a href="#">Testimonials</a></h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.</p>
                        <div class="causes-meta">
                            <div class="doller-target f-left">
                                <h4>Fill Up : <span>$43,000</span></h4>
                            </div>
                            <div class="doller-target f-right">
                                <h4>Target : <span>$70,000</span></h4>
                            </div>
                        </div>
                        <a class="button theme-bg" href="causes.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>