<div class="services-area">
        <div class="container">
            <div class="all-single-service white-bg pt-120 pb-90">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center mb-75">
                            <h2>{{ 'what.is.fgm'|trans }}</h2>
                            <div class="icon-img">
                                <img src="assets/img/icon-img/1.png" alt="">
                            </div>
                            <p>There are many variations of azer duskam of Lorem Ipsum available,</p>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4 col-sm-4 text-center mb-30">
                        <div class="single-service">
                            <i class="icon-globe"></i>
                            <h3>A Global problem</h3>
                            <p>There are many variations of passages of Lorem Ipsum available,</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 text-center mb-30">
                        <div class="single-service">
                            <i class="icon-profile-female"></i>
                            <h3>Affecting Women</h3>
                            <p>There are many variations of passages of Lorem Ipsum available,</p>
                        </div>
                    </div>
    
    
                    <div class="col-md-4 col-sm-4 text-center mb-30">
                        <div class="single-service">
                            <i class="icon-happy"></i>
                            <h3>That we can help to solve</h3>
                            <p>There are many variations of passages of Lorem Ipsum available,</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>