<div class="action-area theme-bg ptb-60">
    <div class="container">
        <div class="action-text-button">
            <div class="action-text f-left">
                <h3>Join our mission to improve the future of these woman</h3>
            </div>
            <div class="action-button f-right">
                <a class="button white-bg" href="#">Join</a>
            </div>
        </div>
        <div class="action-text"></div>
    </div>
</div>



<div class="team-area pt-120 pb-90 gray-bg">
    <div class="container">
        <div class="section-title text-center mb-75">
            <h2>Who we are</h2>
            <p class="section-2">There are many variations of azer duskam of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
            <div class="icon-img-2">
                <img src="assets/img/icon-img/7.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="assets/img/team/1.jpg" alt="">
                        <div class="team-social-icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-googleplus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-text text-center">
                        <h3>R.B. Karim</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="/assets/img/fgm/team/jjml_dekker_270x285.jpg" alt="">
                        <div class="team-social-icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-googleplus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-text text-center">
                        <h3>J.J.M.L. Dekker</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="/assets/img/team/3.jpg" alt="">
                        <div class="team-social-icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-googleplus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-text text-center">
                        <h3>Mr. XXX XXXXX ?</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="assets/img/team/4.jpg" alt="">
                        <div class="team-social-icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-googleplus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-text text-center">
                        <h3>Mrs. XXXX XXXXXX</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
